#AppHolder {
  width: 70%;
  height: 70vh;
  margin: 0 auto;
  background-color: black;
  border-radius: 15px;
  position: absolute;
  left: 0;
  right: 0;
  top: 13%;
  display: flex;
}

h1 {
  text-align: center;
}